
<ion-view view-title="ระบบบันทึกเวชระเบียน">
    
    <ion-nav-bar class="bar-positive">
      
    </ion-nav-bar>
    
  <ion-content>
    
    
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="User Name" ng-model="form.username">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="password" ng-model="form.password">
      </label>
      <div class="col text-center">
      <button class="button button-balanced" ng-click="login(form)">
        ตกลง
      </button>
      </div>
      
    </div>
    


  </ion-content>
</ion-view>
