
<ion-view view-title="{{user.name}}" align-title="center">
    
<ion-nav-bar class="bar-balanced">
    <ion-nav-back-button></ion-nav-back-button>
   <ion-nav-buttons side="Left">
        <button class="button " href="#/main">
            Back
        </button>
  </ion-nav-bar>
    
  <ion-content class="padding">
    
   <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="AN" ng-model="data.an">
    </label>
    <button class="button button-small" ng-click="searchAn(data)">
      Submit
    </button>
  </div>
   <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="HN" ng-model="data.hn" >
    </label>
    <button class="button button-small" ng-click="searchHn(data)">
      Submit
    </button>
  </div>
    
    
    
   
    
    <div class="list inset" ng-show="searchstatushn=='success'">
     <a class="item  item-icon-right" href="#mra_addhn/{{patient.hn}}">
    
  HN : {{patient.hn}} ชื่อ- นามสกุล : {{patient.patientname}}
    <i class="icon ion-edit"></i>
  </a>
    
   
    </div>

     <div class="list inset" ng-show="searchstatusan=='success'">
     <a class="item  item-icon-right"  href="#mra_add/{{ipt.hn}}/{{ipt.an}}">
    
  AN : {{ipt.an}}    HN : {{ipt.hn}}      ชื่อ - นามสกุล : {{ipt.patientname}}
    <i class="icon ion-edit"></i>
  </a>
    
   
    </div>
  </ion-content>
</ion-view>
